<div class="container-admin skin-blue">
    <div class="wrapper">

        <header class="main-header">
            <a routerLink="/admin/dashboard" class="logo"><b>Brief</b>Ammos</a>
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                {{selectCode}}
                            </a>
                            <ul class="dropdown-menu">
                                <li *ngFor="let locale of locales" class="footer"><a (click)="selectedCode(locale.code)"
                                        [href]="'/' + locale.code + currentUrl">{{
                                        locale.text }}</a></li>
                            </ul>
                        </li>
                        <li class="dropdown user user-menu">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="assets/dist/img/user2-160x160.jpg" class="user-image" alt="User Image" />
                                <span class="hidden-xs">Alexander Pierce</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                                    <p>
                                        Alexander Pierce
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="javascript:;" class="btn btn-default btn-flat" i18n="@@profile">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a (click)="logoutApp()" class="btn btn-default btn-flat" i18n="@@signout">
                                            Sign out
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li routerLinkActive="active">
                        <a routerLink="/admin/dashboard">
                            <i class="fa fa-dashboard"></i> <span i18n="@@dashboard">Dashboard</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/admin/producttype">
                            <i class="fa fa-dashboard"></i> <span i18n="@@productType">Product Type</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/admin/product">
                            <i class="fa fa-dashboard"></i> <span i18n="@@productMenu">Product Manu</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/admin/navigation">
                            <i class="fa fa-dashboard"></i> <span i18n="@@navigationMenu">Navigation Manu</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/admin/content">
                            <i class="fa fa-dashboard"></i> <span i18n="@@contentPages">Content Pages</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/admin/contact">
                            <i class="fa fa-dashboard"></i> <span i18n="@@contactDetail">Contact</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/admin/seo">
                            <i class="fa fa-dashboard"></i> <span i18n="@@seoInformation">SEO Information</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/admin/subscribers">
                            <i class="fa fa-dashboard"></i> <span i18n="@@subscribers">Subscribers</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>

        <footer class="main-footer">
            <strong>Copyright &copy; 2019-2020 All
                rights
                reserved.</strong>
        </footer>
    </div><!-- ./wrapper -->

</div>